@charset "UTF-8";

header {
    width: 100%;
    padding: 28px 8%;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo {
    font-size: 22px;
    color: #eea507;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-iten a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600px;
}

.nav-iten.active {
    color: #1d1d1d;
    border-bottom: 3px solid#ffe100;
}